 
    body {
      background-color: #ffffff;
      margin: 0 15%;
      font-family: 'Merriweather', serif;
    }
    h1 {
      text-align; center;
      font-family: 'Merriweather', serif;
      font-weight: normal;
      text-transform: uppercase;
      border-bottom: 1px solid #57b1dc;
      margin-top: 30px;
    }
    h2 {
      color: #d1633c;
      font-size: 1em;
    }
     h3 {
      color: #d1633c;
      font-size: 1em;
    }
     h4 {
      color: #d1633c;
      font-size: 1em;
    }
    h5 {
      color: #d1633c;
      font-size: 1em;
    }
    
